<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--servlet ko map karan hoga -->

    <welcome-file-list>
        <welcome-file>customer.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>customercontroller</servlet-name>
        <servlet-class>com.cutomerapp.controller.AddCustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customercontroller</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getallcontroller</servlet-name>
        <servlet-class>com.cutomerapp.controller.ShowCustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getallcontroller</servlet-name>
        <url-pattern>/getall</url-pattern>
    </servlet-mapping>

</web-app>
