<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>conpool</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnController</display-name>
    <servlet-name>ConnController</servlet-name>
    <servlet-class>com.demo.ConnController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnController</servlet-name>
    <url-pattern>/con</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Test Database</description>
    <res-ref-name>jdbc/test</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>ConnWithJNDIController</display-name>
    <servlet-name>ConnWithJNDIController</servlet-name>
    <servlet-class>com.demo.ConnWithJNDIController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnWithJNDIController</servlet-name>
    <url-pattern>/conwithjndi</url-pattern>
  </servlet-mapping>
</web-app>


