<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>custcontroller</servlet-name>
        <servlet-class>com.customerapp.web.controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>custcontroller</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>com.customerapp.web.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>com.customerapp.web.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>



</web-app>