<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>addcustomer.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>cc</servlet-name>
        <servlet-class>com.customerapp.controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cc</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
</web-app>