<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>sessionservlet</servlet-name>
        <servlet-class>com.customerapp.SessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionservlet</servlet-name>
        <url-pattern>/sessionservlet</url-pattern>
    </servlet-mapping>
</web-app>