<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="ds-servlet.xml"/>
    <!--
    access="hasRole('admin') and hasIpAddress('192.168.1.0/24')"
    -->
    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/admin/**" access="hasRole('admin') and hasIpAddress('192.168.1.0/24')"/>
        <security:intercept-url pattern="/mgr/**" access="hasRole('MGR')"/>
        <security:intercept-url pattern="/emp/**" access="hasRole('EMP')"/>
        <security:intercept-url pattern="/login/**" access="permitAll"/>
        <security:intercept-url pattern="/**" access="isAuthenticated()"/>

        <security:form-login
                login-page="/login"
                default-target-url="/showall" login-processing-url="/checkme" username-parameter="email"
                password-parameter="password"
                authentication-failure-url="/login?error=true" always-use-default-target="true"/>

        <security:logout logout-url="/logout"  logout-success-url='/login'/>
        <security:access-denied-handler error-page="/403"/>
        <security:form-login/>
      <!--  <security:csrf disabled="true" />-->
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userdetail">
            <security:password-encoder ref="encoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

<!--    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder ref="encoder"/>
            <security:user-service id="userdetail">
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>-->
</beans>