<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--servlet ko map karan hoga -->
    <welcome-file-list>
        <welcome-file>addCustomer</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>successController</servlet-name>
        <servlet-class>com.cutomerapp.controller.SuccessController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>successController</servlet-name>
        <url-pattern>/successController</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>customercontroller</servlet-name>
        <servlet-class>com.cutomerapp.controller.CustomerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customercontroller</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
</web-app>
